In [1]:
from pyspark.sql import SparkSession
ss = SparkSession.builder.getOrCreate()

In [2]:
from pysparkling import *
hc = H2OContext.getOrCreate()

Connecting to H2O server at http://192.168.0.126:54329 ... successful.

--------------------------  -------------------------------------------------------------------------------------------------------
H2O_cluster_uptime:         14 secs
H2O_cluster_timezone:       America/Los_Angeles
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.0.4
H2O_cluster_version_age:    18 days
H2O_cluster_name:           sparkling-water-dwoodbridge_local-1613776045579
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    813 Mb
H2O_cluster_total_cores:    16
H2O_cluster_allowed_cores:  16
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://192.168.0.126:54329
H2O_connection_proxy:       null
H2O_internal_security:      False
H2O_API_Extensions:         XGBoost, Algos, Amazon S3, Sparkling Water REST API Extensions, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.2 final
--------------------------  -------------------------------------------------------------------------------------------------------

Sparkling Water Context:
 * Sparkling Water Version: 3.32.0.4-1-3.0
 * H2O name: sparkling-water-dwoodbridge_local-1613776045579
 * cluster size: 1
 * list of used nodes:
  (executorId, host, port)
  ------------------------
  (0,192.168.0.126,54323)
  ------------------------

  Open H2O Flow in browser: http://192.168.0.126:54329 (CMD + click in Mac OSX)

## Initialize H2OContext

In [3]:
hc

Sparkling Water Context:
 * Sparkling Water Version: 3.32.0.4-1-3.0
 * H2O name: sparkling-water-dwoodbridge_local-1613776045579
 * cluster size: 1
 * list of used nodes:
  (executorId, host, port)
  ------------------------
  (0,192.168.0.126,54323)
  ------------------------

  Open H2O Flow in browser: http://192.168.0.126:54329 (CMD + click in Mac OSX)

## Create H2ODataFrame

### 1. Create from RDD

In [4]:
sc = ss.sparkContext

def toDoubleSafe(v):
    try:
        return float(v)
    except ValueError:
        return str(v) #if it is not a float type return as a string.


#load and convert the data
census_raw = sc.textFile("../Data/adult.raw", 4).map(lambda x:  x.split(", "))
census_raw = census_raw.map(lambda row:  [toDoubleSafe(x) for x in row])

In [5]:
census_h2o = hc.asH2OFrame(census_raw, "census")

In [6]:
census_h2o.set_names(["age", "capital_gain", "capital_loss", "education", "fnlwgt", "hours_per_week", "income", "marital_status", "native_country", "occupation", "race", "relationship", "sex", "workclass"])

age,capital_gain,capital_loss,education,fnlwgt,hours_per_week,income,marital_status,native_country,occupation,race,relationship,sex,workclass
39,State-gov,77516,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
50,Self-emp-not-inc,83311,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
38,Private,215646,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
53,Private,234721,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
28,Private,338409,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
37,Private,284582,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
49,Private,160187,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
52,Self-emp-not-inc,209642,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
31,Private,45781,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
42,Private,159449,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

## H2OFrame Description

In [7]:
census_h2o.summary()

,age,capital_gain,capital_loss,education,fnlwgt,hours_per_week,income,marital_status,native_country,occupation,race,relationship,sex,workclass
type,int,enum,int,enum,enum,enum,enum,enum,enum,int,int,int,enum,enum
mins,17.0,,12285.0,,,,,,,0.0,0.0,1.0,,
mean,38.64358543876177,,189664.13459727296,,,,,,,1079.0676262233324,87.50231358257236,40.42238237582413,,
maxs,90.0,,1490400.0,,,,,,,99999.0,4356.0,99.0,,
sigma,13.710509934443552,,105604.02542315725,,,,,,,7452.019057655393,403.00455212435895,12.391444024252296,,
zeros,0,,0,,,,,,,44807,46560,0,,
missing,0,0,0,0,0,0,0,0,0,0,0,0,0,0
0,39.0,State-gov,77516.0,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50.0,Self-emp-not-inc,83311.0,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38.0,Private,215646.0,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53.0,Private,234721.0,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28.0,Private,338409.0,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K
5,37.0,Private,284582.0,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,0.0,40.0,United-States,<=50K
6,49.0,Private,160187.0,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0.0,0.0,16.0,Jamaica,<=50K
7,52.0,Self-emp-not-inc,209642.0,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,45.0,United-States,>50K
8,31.0,Private,45781.0,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,14084.0,0.0,50.0,United-States,>50K
9,42.0,Private,159449.0,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178.0,0.0,40.0,United-States,>50K

In [8]:
census_h2o.describe()

Rows:48842
Cols:14

,age,capital_gain,capital_loss,education,fnlwgt,hours_per_week,income,marital_status,native_country,occupation,race,relationship,sex,workclass
type,int,enum,int,enum,enum,enum,enum,enum,enum,int,int,int,enum,enum
mins,17.0,,12285.0,,,,,,,0.0,0.0,1.0,,
mean,38.64358543876177,,189664.13459727296,,,,,,,1079.0676262233324,87.50231358257236,40.42238237582413,,
maxs,90.0,,1490400.0,,,,,,,99999.0,4356.0,99.0,,
sigma,13.710509934443552,,105604.02542315725,,,,,,,7452.019057655393,403.00455212435895,12.391444024252296,,
zeros,0,,0,,,,,,,44807,46560,0,,
missing,0,0,0,0,0,0,0,0,0,0,0,0,0,0
0,39.0,State-gov,77516.0,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50.0,Self-emp-not-inc,83311.0,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38.0,Private,215646.0,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53.0,Private,234721.0,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28.0,Private,338409.0,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K
5,37.0,Private,284582.0,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,0.0,40.0,United-States,<=50K
6,49.0,Private,160187.0,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0.0,0.0,16.0,Jamaica,<=50K
7,52.0,Self-emp-not-inc,209642.0,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,45.0,United-States,>50K
8,31.0,Private,45781.0,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,14084.0,0.0,50.0,United-States,>50K
9,42.0,Private,159449.0,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178.0,0.0,40.0,United-States,>50K

In [9]:
census_h2o.shape

(48842, 14)

In [10]:
census_h2o.columns

['age',
 'capital_gain',
 'capital_loss',
 'education',
 'fnlwgt',
 'hours_per_week',
 'income',
 'marital_status',
 'native_country',
 'occupation',
 'race',
 'relationship',
 'sex',
 'workclass']

In [11]:
census_h2o.types

{'age': 'int',
 'capital_gain': 'enum',
 'capital_loss': 'int',
 'education': 'enum',
 'fnlwgt': 'enum',
 'hours_per_week': 'enum',
 'income': 'enum',
 'marital_status': 'enum',
 'native_country': 'enum',
 'occupation': 'int',
 'race': 'int',
 'relationship': 'int',
 'sex': 'enum',
 'workclass': 'enum'}

In [12]:
census_h2o.columns_by_type(coltype='numeric')

[0.0, 2.0, 9.0, 10.0, 11.0]

In [13]:
census_h2o.columns_by_type(coltype='string')

[]

## Convert H2OFrame to Spark DataFrame, RDD

In [14]:
census_df = hc.asSparkFrame(census_h2o)

In [15]:
census_df.show(5)

+---+----------------+------------+---------+------------------+-----------------+-------------+--------------+--------------+----------+----+------------+-------------+---------+
|age|    capital_gain|capital_loss|education|            fnlwgt|   hours_per_week|       income|marital_status|native_country|occupation|race|relationship|          sex|workclass|
+---+----------------+------------+---------+------------------+-----------------+-------------+--------------+--------------+----------+----+------------+-------------+---------+
| 39|       State-gov|       77516|Bachelors|     Never-married|     Adm-clerical|Not-in-family|         White|          Male|      2174|   0|          40|United-States|    <=50K|
| 50|Self-emp-not-inc|       83311|Bachelors|Married-civ-spouse|  Exec-managerial|      Husband|         White|          Male|         0|   0|          13|United-States|    <=50K|
| 38|         Private|      215646|  HS-grad|          Divorced|Handlers-cleaners|Not-in-family|         White|          Male|         0|   0|          40|United-States|    <=50K|
| 53|         Private|      234721|     11th|Married-civ-spouse|Handlers-cleaners|      Husband|         Black|          Male|         0|   0|          40|United-States|    <=50K|
| 28|         Private|      338409|Bachelors|Married-civ-spouse|   Prof-specialty|         Wife|         Black|        Female|         0|   0|          40|         Cuba|    <=50K|
+---+----------------+------------+---------+------------------+-----------------+-------------+--------------+--------------+----------+----+------------+-------------+---------+
only showing top 5 rows

In [16]:
census_rdd = census_df.rdd

In [17]:
census_rdd.take(5)

[Row(age=39, capital_gain='State-gov', capital_loss=77516, education='Bachelors', fnlwgt='Never-married', hours_per_week='Adm-clerical', income='Not-in-family', marital_status='White', native_country='Male', occupation=2174, race=0, relationship=40, sex='United-States', workclass='<=50K'),
 Row(age=50, capital_gain='Self-emp-not-inc', capital_loss=83311, education='Bachelors', fnlwgt='Married-civ-spouse', hours_per_week='Exec-managerial', income='Husband', marital_status='White', native_country='Male', occupation=0, race=0, relationship=13, sex='United-States', workclass='<=50K'),
 Row(age=38, capital_gain='Private', capital_loss=215646, education='HS-grad', fnlwgt='Divorced', hours_per_week='Handlers-cleaners', income='Not-in-family', marital_status='White', native_country='Male', occupation=0, race=0, relationship=40, sex='United-States', workclass='<=50K'),
 Row(age=53, capital_gain='Private', capital_loss=234721, education='11th', fnlwgt='Married-civ-spouse', hours_per_week='Handlers-cleaners', income='Husband', marital_status='Black', native_country='Male', occupation=0, race=0, relationship=40, sex='United-States', workclass='<=50K'),
 Row(age=28, capital_gain='Private', capital_loss=338409, education='Bachelors', fnlwgt='Married-civ-spouse', hours_per_week='Prof-specialty', income='Wife', marital_status='Black', native_country='Female', occupation=0, race=0, relationship=40, sex='Cuba', workclass='<=50K')]

### 2. Create from DataFrame

In [18]:
from pyspark.sql.types import *
adultschema = StructType([
    StructField("age",DoubleType(),True),
    StructField("workclass",StringType(),True),
    StructField("fnlwgt",DoubleType(),True),
    StructField("education",StringType(),True),
    StructField("marital_status",StringType(),True),
    StructField("occupation",StringType(),True),
    StructField("relationship",StringType(),True),
    StructField("race",StringType(),True),
    StructField("sex",StringType(),True),
    StructField("capital_gain",DoubleType(),True),
    StructField("capital_loss",DoubleType(),True),
    StructField("hours_per_week",DoubleType(),True),
    StructField("native_country",StringType(),True),
    StructField("income",StringType(),True)
])

dfraw = ss.createDataFrame(census_raw, adultschema)
dfraw.show(5)

+----+----------------+--------+---------+------------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+
| age|       workclass|  fnlwgt|education|    marital_status|       occupation| relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+----+----------------+--------+---------+------------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+
|39.0|       State-gov| 77516.0|Bachelors|     Never-married|     Adm-clerical|Not-in-family|White|  Male|      2174.0|         0.0|          40.0| United-States| <=50K|
|50.0|Self-emp-not-inc| 83311.0|Bachelors|Married-civ-spouse|  Exec-managerial|      Husband|White|  Male|         0.0|         0.0|          13.0| United-States| <=50K|
|38.0|         Private|215646.0|  HS-grad|          Divorced|Handlers-cleaners|Not-in-family|White|  Male|         0.0|         0.0|          40.0| United-States| <=50K|
|53.0|         Private|234721.0|     11th|Married-civ-spouse|Handlers-cleaners|      Husband|Black|  Male|         0.0|         0.0|          40.0| United-States| <=50K|
|28.0|         Private|338409.0|Bachelors|Married-civ-spouse|   Prof-specialty|         Wife|Black|Female|         0.0|         0.0|          40.0|          Cuba| <=50K|
+----+----------------+--------+---------+------------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 5 rows

In [19]:
adult_h2o = hc.asH2OFrame(dfraw, "adult")

In [20]:
adult_h2o.summary()

,age,workclass,fnlwgt,education,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
type,int,enum,int,enum,enum,enum,enum,enum,enum,int,int,int,enum,enum
mins,17.0,,12285.0,,,,,,,0.0,0.0,1.0,,
mean,38.64358543876177,,189664.13459727296,,,,,,,1079.0676262233324,87.50231358257236,40.42238237582413,,
maxs,90.0,,1490400.0,,,,,,,99999.0,4356.0,99.0,,
sigma,13.710509934443552,,105604.02542315725,,,,,,,7452.019057655393,403.00455212435895,12.391444024252296,,
zeros,0,,0,,,,,,,44807,46560,0,,
missing,0,0,0,0,0,0,0,0,0,0,0,0,0,0
0,39.0,State-gov,77516.0,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50.0,Self-emp-not-inc,83311.0,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38.0,Private,215646.0,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53.0,Private,234721.0,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28.0,Private,338409.0,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K
5,37.0,Private,284582.0,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,0.0,40.0,United-States,<=50K
6,49.0,Private,160187.0,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0.0,0.0,16.0,Jamaica,<=50K
7,52.0,Self-emp-not-inc,209642.0,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,45.0,United-States,>50K
8,31.0,Private,45781.0,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,14084.0,0.0,50.0,United-States,>50K
9,42.0,Private,159449.0,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178.0,0.0,40.0,United-States,>50K

### 3. Create from File

In [21]:
%pip install h2o

Requirement already satisfied: h2o in /Users/dwoodbridge/opt/anaconda3/envs/MSDS691/lib/python3.8/site-packages (3.32.0.4)
Requirement already satisfied: future in /Users/dwoodbridge/opt/anaconda3/envs/MSDS691/lib/python3.8/site-packages (from h2o) (0.18.2)
Requirement already satisfied: colorama>=0.3.8 in /Users/dwoodbridge/opt/anaconda3/envs/MSDS691/lib/python3.8/site-packages (from h2o) (0.4.3)
Requirement already satisfied: tabulate in /Users/dwoodbridge/opt/anaconda3/envs/MSDS691/lib/python3.8/site-packages (from h2o) (0.8.8)
Requirement already satisfied: requests in /Users/dwoodbridge/opt/anaconda3/envs/MSDS691/lib/python3.8/site-packages (from h2o) (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/dwoodbridge/opt/anaconda3/envs/MSDS691/lib/python3.8/site-packages (from requests->h2o) (1.25.11)
Requirement already satisfied: chardet<5,>=3.0.2 in /Users/dwoodbridge/opt/anaconda3/envs/MSDS691/lib/python3.8/site-packages (from requests->h2o) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/dwoodbridge/opt/anaconda3/envs/MSDS691/lib/python3.8/site-packages (from requests->h2o) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /Users/dwoodbridge/opt/anaconda3/envs/MSDS691/lib/python3.8/site-packages (from requests->h2o) (2.10)
Note: you may need to restart the kernel to use updated packages.

In [22]:
import h2o
adult_h2o = h2o.import_file(path="../Data/adult.raw")

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [23]:
adult_h2o.summary()

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14
type,int,enum,int,enum,enum,enum,enum,enum,enum,int,int,int,enum,enum
mins,17.0,,12285.0,,,,,,,0.0,0.0,1.0,,
mean,38.64358543876172,,189664.13459727284,,,,,,,1079.0676262233321,87.50231358257237,40.422382375824085,,
maxs,90.0,,1490400.0,,,,,,,99999.0,4356.0,99.0,,
sigma,13.710509934443557,,105604.02542315728,,,,,,,7452.019057655394,403.004552124359,12.391444024252307,,
zeros,0,,0,,,,,,,44807,46560,0,,
missing,0,0,0,0,0,0,0,0,0,0,0,0,0,0
0,39.0,State-gov,77516.0,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50.0,Self-emp-not-inc,83311.0,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38.0,Private,215646.0,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53.0,Private,234721.0,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28.0,Private,338409.0,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K
5,37.0,Private,284582.0,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,0.0,40.0,United-States,<=50K
6,49.0,Private,160187.0,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0.0,0.0,16.0,Jamaica,<=50K
7,52.0,Self-emp-not-inc,209642.0,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,45.0,United-States,>50K
8,31.0,Private,45781.0,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,14084.0,0.0,50.0,United-States,>50K
9,42.0,Private,159449.0,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178.0,0.0,40.0,United-States,>50K

In [24]:
adult_h2o.set_names(["age", "capital_gain", "capital_loss", "education", "fnlwgt", "hours_per_week", "income", "marital_status", "native_country", "occupation", "race", "relationship", "sex", "workclass"])

age,capital_gain,capital_loss,education,fnlwgt,hours_per_week,income,marital_status,native_country,occupation,race,relationship,sex,workclass
39,State-gov,77516,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
50,Self-emp-not-inc,83311,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
38,Private,215646,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
53,Private,234721,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
28,Private,338409,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
37,Private,284582,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
49,Private,160187,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
52,Self-emp-not-inc,209642,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
31,Private,45781,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
42,Private,159449,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [25]:
adult_h2o.summary()

,age,capital_gain,capital_loss,education,fnlwgt,hours_per_week,income,marital_status,native_country,occupation,race,relationship,sex,workclass
type,int,enum,int,enum,enum,enum,enum,enum,enum,int,int,int,enum,enum
mins,17.0,,12285.0,,,,,,,0.0,0.0,1.0,,
mean,38.64358543876172,,189664.13459727284,,,,,,,1079.0676262233321,87.50231358257237,40.422382375824085,,
maxs,90.0,,1490400.0,,,,,,,99999.0,4356.0,99.0,,
sigma,13.710509934443557,,105604.02542315728,,,,,,,7452.019057655394,403.004552124359,12.391444024252307,,
zeros,0,,0,,,,,,,44807,46560,0,,
missing,0,0,0,0,0,0,0,0,0,0,0,0,0,0
0,39.0,State-gov,77516.0,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50.0,Self-emp-not-inc,83311.0,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38.0,Private,215646.0,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53.0,Private,234721.0,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28.0,Private,338409.0,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K
5,37.0,Private,284582.0,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,0.0,40.0,United-States,<=50K
6,49.0,Private,160187.0,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0.0,0.0,16.0,Jamaica,<=50K
7,52.0,Self-emp-not-inc,209642.0,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,45.0,United-States,>50K
8,31.0,Private,45781.0,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,14084.0,0.0,50.0,United-States,>50K
9,42.0,Private,159449.0,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178.0,0.0,40.0,United-States,>50K

In [26]:
adult_h2o

age,capital_gain,capital_loss,education,fnlwgt,hours_per_week,income,marital_status,native_country,occupation,race,relationship,sex,workclass
39,State-gov,77516,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
50,Self-emp-not-inc,83311,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
38,Private,215646,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
53,Private,234721,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
28,Private,338409,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
37,Private,284582,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
49,Private,160187,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
52,Self-emp-not-inc,209642,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
31,Private,45781,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
42,Private,159449,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [27]:
ss.stop()